<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/img/avatar.png"></ion-img>
  <center><h3><br>Cardapp</h3>
  <span class="login-cardapp">Minha Conta</span>  
</center>
<br>
<div>
  <span class="info">Nome</span><br>
  <span class="info-bd">Patrick Araujo</span><br>
</div>

<div>
  <span class="info">Email</span><br>
  <span class="info-bd">patrick23_costa@hotmail.com</span><br>
</div>

<div>
  <span class="info">CPF</span><br>
  <span class="info-bd">102.973.97737</span><br>
</div>
<br>
<div>
  <span class="info-senha">Alterar Senha</span><br>
</div>

<ion-list lines="none" style="width: 90%; margin: 0 auto">
  <ion-item>
    <ion-input class="input-login" type="password" placeholder="Senha Atual" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-login" type="password" placeholder="Nova Senha" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-login" type="password" placeholder="Confirmar Senha" ></ion-input>
  </ion-item>
  <center><ion-button class="buton">Alterar</ion-button></center>
</ion-list>
<br><br><br>


</ion-content>
