<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/img/password.png"></ion-img>
  <center>
    <h3><br>Cardapp</h3>
    <span class="login-cardapp">Esqueci a senha</span>
  </center>
  <br><br>
  <ion-list lines="none" style="width: 90%; margin: 0 auto">
    <ion-item>
      <ion-input class="input-login" type="text" placeholder="E-mail"></ion-input>
    </ion-item>

    <center>
      <ion-button class="buton">Enviar</ion-button>
    </center>
  </ion-list>

</ion-content>